<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Text overflow</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="../../extend_text_overflow.js"></script>
    <script type="text/javascript" src="../assets/javascripts/index.js"></script>
</head>
<body>
    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper nulla eget sem tincidunt pretium. Nulla sed sagittis est. Curabitur nunc magna, pellentesque id urna sed, viverra fermentum purus. Sed ut cursus erat. Curabitur semper id quam sit amet molestie. Etiam neque neque, cursus sed rutrum vel, viverra non mauris. Sed pellentesque quam vitae malesuada euismod. Vestibulum non ipsum iaculis, porttitor leo eu, posuere ligula. Sed eu molestie eros, at pulvinar arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis libero sed nisi fermentum bibendum ut ac lacus. Etiam ultricies tristique ante vel rutrum. </p>
    </div>
</body>
</html>
